.fa-ban { 
    color: #FF0000;
    transition: 0.3s ease-in-out;
    margin-bottom: 15px;
}

.fa-trash-o { 
    color: #2F4F4F;
    transition: 0.3s ease-in-out;
    margin-bottom: 15px;
}

.fa-key { 
    color: #FFD700;
    transition: 0.3s ease-in-out;
    outline: none;
    margin-bottom: 15px;
}


.fa-ban:hover { 
    text-shadow: 3px 3px 10px #FF0000;
}


.fa-trash-o:hover { 
    text-shadow: 3px 3px 10px #2F4F4F;
}

.fa-key:hover { 
    text-shadow: 3px 3px 10px #FFD700;
}

.fa-ban:hover, .fa-trash-o:hover, .fa-key:hover { 
    cursor: pointer;
    transform: scale(1.2);
}


.table { 
    border-radius: 7px;
    font-size: 22px;
    background-color: rgba(255, 218, 185, 0.2);
}

.outline,
.outline:focus { 
    border: none;
    outline: none;
    background-color: transparent;
    width: 2%;
    margin-right:3%;
}


.fa-check { 
    color: green;
    font-size: 40px;
}

.fa-times { 
    color: rgba(220, 20, 60);
    font-size: 40px;
}

.button {
    width: 100px;
    height: 50px;
    margin-right: 20px;
}